@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400;600;700&display=swap');
body{
    font-family: 'Work Sans', sans-serif;
}
.logo{
  width: 215px;
  height: 166px;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px 10px;
}

.nav ul{
     display: flex;
}
.li{
    padding: 38px;
    
}