@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Work+Sans:wght@100;400;600;700&display=swap');


body{
    background: #3B3F45;
    width:793px;
    height: 507px;
    font-family: 'Roboto' !important;
    font-size: 18px;
    font-weight: 400;
}


.block1{
    height: 82px;
    width: 793px;
    position: relative;
    background-color:  #4A4F56;
    color: #FF8984;
    text-align: center;
}

h1{
   padding: 10px;
   font-size: 24px;

}

h3{
    font-size: 16px;
    padding: 4px;
}

.small{
    font-size: 11px;
    padding-left: 5px;
}

label{
    position: absolute;
    margin-left: 40px;
    margin-top: 9px;
    cursor: pointer;
}


.one-block, .two-block{
 width: 534px;
 height: 45px;
 font-size: 18px;
 background-color: #88839E;
 border: 0.5px solid ;
 border-color: white;
 border-left: none;
 border-right: none;
 transition: all .1s ease-in;
}

.block2{
    color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.custom-checkbox:checked::after {
    /* content: "";
    width: 19px;
	height: 19px;
    border: 1px solid;
    background: white;
    top: 0px;
    left: 0px;
    z-index: 1px; */
    position: absolute;
    text-decoration: line-through;
}


.custom-checkbox::before {
	width: 19px;
	height: 19px;
    margin-top: 7px;
    margin-left: 12px;
}
    
.custom-checkbox:checked~label span {
 text-decoration: line-through;
  color: #9B96AC;
}
    
.custom-checkbox:checked~label small {
     color: #9B96AC;
}
       
button{
    background:#4A4F56 ;
    margin-top: 45px;
    width: 534px;
    height:45px ;
}

p{
     color: #FF8984;
     font-size: 18px;
     line-height: 21px
}